.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.35);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  &__spinner {
    --spinner-color: black;
    aspect-ratio: 1/1;
    width: 48px;
    border: 5px solid black;
    border-top-color: transparent;
    animation-duration: 1s;
    border-radius: 50%;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
