.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 768px;
  background-color: white;
  z-index: 1000;
  opacity: 0;
  display: none;
  transition: opacity 0.15s ease-in-out;
  padding-top: 2rem;
  &__header {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    &__close {
      cursor: pointer;
    }
  }
  &__content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
